{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    // "eslint:recommended",
    "eslint:all"
  ],
  "plugins": ["prettier"],
  "rules": {
    "strict": "off",
    "no-unused-vars": "off"
  }
}
